@page "/binding"

@using BlazorApp.Components

<PageTitle>Binding</PageTitle>

<div class="container">
    <h3>Binding</h3>
    <hr />

    <div class="row">
        <PersonComponent />
    </div>
</div>
